# {{ name }}

A custom threat service (CTS) for IBM Security SOAR that searches {{ name }} created with the [resilient-async-cts](https://github.com/LiamMahoney/resilient_async_cts) library.

[Requirements](#requirements)
[Malicious Hits](#malicious-hits)