import setuptools

setuptools.setup(
    name="{{ name }}",
    version="1.0",
    author="Your Name",
    author_email="you@example.com",
    description="A custom threat service (CTS) for use with IBM SOAR",
    long_description="A custom threat service (CTS) for use with IBM SOAR",
    url="",
    packages=setuptools.find_packages(),
    classifiers=[
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
    ],
    python_requires='>=3.7'
)